@charset "UTF-8";
.content_main{
    display: flex;
    margin: 0 ;
    background-color: rgba(168, 154, 154, 0.945);
    height: 100%;
}
#news_article{
    display: flex;
    justify-content: space-between;
}
#blog_news{
    background: rgba(108, 228, 60, 0.555);
    width: 800px;
    margin: 0 auto;
    padding: 1em 3em;
    border: 2px solid rgb(189, 245, 189);
    border-radius: 30px;
}
.title__blog{
    font: italic 600 38px var(--font2);
    color: var(--color5);
    text-shadow: 2px 2px var(--color3);
    text-align: center;
}
.title_article{
    font: italic 600 28px var(--font3);
    color: var(--color5);
    text-align: center;
    text-shadow: 1px 2px var(--color3);
    margin-bottom: 10px;
}
.imgs_blog{
    display: flex;
    width: 800px;
    height: 300px;
    margin: 0 auto;
    border-radius: 20px;
    
}
.immi_bg{
    width: 50%;
    margin-bottom: 15px;
    margin-left: 10px;
    margin-top: 20px;
    border-radius: 20px;
}
.description__blog{
    font: normal 500 18px var(--font3);
    color: var(--color5);
    text-indent: 30px;
    text-align: justify;
    line-height: 1.5em;
}
#news_latter{
    display: flex;
    flex-direction: column;
    
    align-items: start;
  margin-left: 30px;
    width: 300px;
    background:transparent;
}
.img__aside{
    width: 300px;
    margin: 0 auto 10px;
    border: 3px solid grey;
    border-radius: 30px;
}
@media screen and (max-width:450px) {
    *{
        margin: 0;
        padding: 0;
    }
    body{
        width: 390px;
    }
    
    .content_main{
        background:transparent;
        width: 100%;
    }
    #news_article{
        display: flex;
        flex-direction: column;
       
        width: 100%;
        background-color: rgba(168, 154, 154, 0.945);
        padding: .5em;
        
    }
    #blog_news{
        background: rgba(108, 228, 60, 0.555);
        width: 310px;
        
        padding-left: .5em;
        padding-bottom: 5em;
        border: 2px solid rgb(189, 245, 189);
        border-radius: 30px;
    }
    .title__blog{
        font: italic 600 38px var(--font2);
        color: var(--color5);
        text-shadow: 2px 2px var(--color3);
        text-align: center;
    }
    .title_article{
        font: italic 600 28px var(--font3);
        color: var(--color5);
        text-align: center;
        text-shadow: 1px 2px var(--color3);
        margin-bottom: 10px;
    }
    .imgs_blog{
        display: flex;
        flex-direction: column;
        justify-content: center;
       
     
        border-radius: 20px;
        
    }
    .immi_bg{
        width: 30%;
        height: 130px;
        
    }
    .description__blog{
        font: normal 500 18px var(--font3);
        color: var(--color5);
        text-indent: 30px;
        text-align: justify;
        line-height: 1em;
        padding-left: 1em;
    }
    #news_latter{
        display: flex;
        padding-top: 20px;
        margin: 0 auto;
        
        background:transparent;
    }
    .img__aside{
        width: 70%;
        margin: 0 auto 10px;
        border: 3px solid grey;
        border-radius: 30px;
    }
    #footer__blog{
        width: 100%;
    }

    
}