@charset "UTF-8";
main{
    margin-bottom: 30px;
}

#atendimento_presencial{
    width: 940px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

  
}
.title_presencial{
    font: normal bold 30px var(--font1);
    color: var(--color5);
    text-align: center;
}
form{
    display: flex;
    flex-direction: column;
    

}
label{
    font: normal 500 20px var(--font1);
    color:var(--color5);

}
input {
    width: 100%;
    margin-bottom: 1.2%;
    padding: 1em;
    
    
}
fo
