@charset "UTF-8";
main{
    margin-bottom: 30px;
}

#atendimento_presencial{
    width: 940px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

  
}
.title_presencial{
    font: normal bold 30px var(--font1);
    color: var(--color5);
    text-align: center;
}
form{
    display: flex;
    flex-direction: column;
    

}
label{
    font: normal 500 20px var(--font1);
    color:var(--color5);

}
input {
    width: 100%;
    margin-bottom: 1.2%;
    padding: 1em;
}
.button__presencial{
        font: normal 400 20px var(--font1);
        position: relative;
        left: 48px;
        width: 80%;
        text-align: center;
}
    .button__presencial:hover{
        font: normal bold 23px var(--font1);
        color: var(--color3);

    }
    #footer__presencial{
        position: fixed;
        bottom: 0;
        width: 100%;
    }
    

@media screen and (max-width:450px) {
    #presencial_content_principal{
        width: 100%;
    }
    #atendimento_presencial{
        width: 400px;
        margin: 0 auto;
       padding: auto 2em;
       
    
      
    }
    .title_presencial{
        font: normal bold 30px var(--font1);
        color: var(--color5);
        text-align: center;
    }
    form{
        display: flex;
        flex-direction: column;
        
    
    }
    label{
        font: normal 500 20px var(--font1);
        color:var(--color5);
    
    }
    input {
        width: 100%;
        margin-bottom: 1.2%;
        padding: 1em;
        border-top: transparent;
        border-left: transparent;
        border-right: transparent;
        border-bottom: 2px solid var(--color5);
        border-radius: 10px;
        
        
    }
    .button__presencial{
        font: normal 400 20px var(--font1);
        position: relative;
        left: 48px;
        width: 80%;
        text-align: center;
    }
    .button__presencial:hover{
        font: normal bold 23px var(--font1);
        color: var(--color3);

    }
    .img_form_nutri{
        display: none;
    }
    #footer__presencial{
        position: absolute;
        bottom: 0;
        width: 100%;
    }

}

