@charset "UTF-8";
@import url(online.css);
@import url(receitas.css);
@import url(presencial.css);
@import url(blog.css);
@font-face {
    font-family: "Quick";
    src: url(../fonts/Quicksand-VariableFont_wght.ttf);
}
:root{
    --font1: "Quick";
    --color1:#F32A46;
    --color2:#ADC057;
    --color3: #000000;
    --color4:#678466;
    --color5:#FFFFFF;
    
}
body{
    background: white;
}
header{
    border-bottom: 1px solid var(--color1);  

}
.principal_header{
    backface-visibility: hidden;
    padding: 2em;
    border-bottom: 5px solid var(--color1);

}
.container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 1000px;
    margin: 0 auto;
   
}
.navigation__menu{
 display: flex;
 justify-content: center;
 padding-top: 1.5em;
}
.item_nav{
    font: normal 700 20px var(--font1);
    color:var(--color1) ;
    margin-left: .5em;
    text-decoration: none;
}
.item_nav:hover{
    color: var(--color2);

}
.title__principal_main{
    font: normal bold 30px Arial;
    color: white;
    text-align: center;
    margin-bottom: .5em;
}
.apresentação_profissional{
    width: 80%;
    margin: 30px auto;
    display: flex;
    justify-content: center;
    padding: 2em;
   

}
.logo_profissional{
    border-radius: 20px 20px;
    padding:auto 2em;
}
.profissional_text{
    font: normal 400 25px var(--font1);
    text-align: justify;
    padding: 2em;
}
.beneficio_do_acompanhamento {
  padding: 2em;
    justify-content: center;
    background:var(--color4);
    

}
.banner__benefits{
    display: flex;
    justify-content: center;
    margin: 1.5em;
    
}
.img_benefits{
    width: 100%;
    height: 300px;
    border-radius: 20px;
}

.benefits{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
   
    padding: 1.3em 2em;
    margin-left:  1.3%;


}

.title_benefits{
    font: normal 500 25px var(--font1);
    color:white;
    text-align: center;
    padding-bottom: .5em;
   
}
.contact__footer{
    display: flex;
    justify-content: space-around;
    height: 30px;
    background: rgb(255, 168, 168);
    text-decoration: none;
}
.item__footer{ 
    display: flex;
    font: normal bolder 20px var(--font1);
    text-decoration: none;

}
.item__footer a {
      font: normal bolder 20px var(--font1);
      color: var(--color1);
      text-decoration: none;
}

.logo__fot{
    align-items: center;
    height: 30px;
}
